In [20]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
df=pd.read_csv('AB_NYC_2019.csv')

In [22]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [24]:
df['last_review']=df['last_review'].fillna(value='2018-10-19') #
df['reviews_per_month']=df['reviews_per_month'].fillna(value=df['reviews_per_month'].mean()) #
df['name']=df['name'].fillna(value='omneya') #
df['host_name']=df['host_name'].fillna(value='omneya') #

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2018-10-19,1.373221,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.100000,1,0

In [25]:
x=df[['neighbourhood_group','latitude','longitude','room_type','price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365']]
x

,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,40.64749,-73.97237,Private room,149,1,9,0.210000,6,365
1,Manhattan,40.75362,-73.98377,Entire home/apt,225,1,45,0.380000,2,355
2,Manhattan,40.80902,-73.94190,Private room,150,3,0,1.373221,1,365
3,Brooklyn,40.68514,-73.95976,Entire home/apt,89,1,270,4.640000,1,194
4,Manhattan,40.79851,-73.94399,Entire home/apt,80,10,9,0.100000,1,0
5,Manhattan,40.74767,-73.97500,Entire home/apt,200,3,74,0.590000,1,129
6,Brooklyn,40.68688,-73.95596,Private room,60,45,49,0.400000,1,0
7,Manhattan,40.76489,-73.98493,Private room,79,2,430,3.470000,1,220
8,Manhattan,40.80178,-73.96723,Private room,79,2,118,0.990000,1,0
9,Manhattan,40.71344,-73.99037,Entire home/apt,150,1,160,1.330000,4,188
10,Manhattan,40.80316,-73.96545,Entire home/apt,135,5,53,0.430000,1,6
11,Manhattan,40.76076,-73.98867,Private room,85,2,188,1.500000,1,39
12,Brooklyn,40.66829,-73.98779,Private room,89,4,167,1.340000,3,314
13,Manhattan,40.79826,-73.96113,Private room,85,2,113,0.910000,1,333
14,Manhattan,40.73530,-74.00525,Entire home/apt,120,90,27,0.220000,1,0
15,Brooklyn,40.70837,-73.95352,Entire home/apt,140,2,148,1.200000,1,46
16,Brooklyn,40.69169,-73.97185,Entire home/apt,215,2,198,1.720000,1,321
17,Manhattan,40.74192,-73.99501,Private room,140,1,260,2.120000,1,12
18,Brooklyn,40.67592,-73.94694,Entire home/apt,99,3,53,4.440000,1,21
19,Manhattan,40.79685,-73.94872,Entire home/apt,190,7,0,1.373221,2,249
20,Brooklyn,40.71842,-73.95718,Entire home/apt,299,3,9,0.070000,1,0
21,Brooklyn,40.68069,-73.97706,Private room,130,2,130,1.090000,6,347
22,Brooklyn,40.67989,-73.97798,Private room,80,1,39,0.370000,6,364
23,Brooklyn,40.68001,-73.97865,Private room,110,2,71,0.610000,6,304
24,Brooklyn,40.68371,-73.94028,Entire home/apt,120,2,88,0.730000,2,233
25,Brooklyn,40.65599,-73.97519,Private room,60,1,19,1.370000,2,85
26,Manhattan,40.86754,-73.92639,Private room,80,4,0,1.373221,1,0
27,Manhattan,40.76715,-73.98533,Entire home/apt,150,10,58,0.490000,1,75
28,Manhattan,40.86482,-73.92106,Private room,44,3,108,1.110000,3,311
29,Manhattan,40.72920,-73.98542,Entire home/apt,180,14,29,0.240000,1,67
...,...,...,...,...,...,...,...,...,...,...
48865,Manhattan,40.86845,-73.92449,Private room,80,1,0,1.373221,1,79
48866,Queens,40.70786,-73.81448,Entire home/apt,58,1,0,1.373221,1,159
48867,Brooklyn,40.59080,-73.97116,Shared room,25,1,0,1.373221,6,338
48868,Brooklyn,40.59118,-73.97119,Shared room,25,7,0,1.373221,6,365
48869,Brooklyn,40.68759,-73.95705,Private room,45,4,0,1.373221,1,7
48870,Brooklyn,40.71197,-73.94946,Entire home/apt,99,4,0,1.373221,1,22
48871,Manhattan,40.82233,-73.94687,Private room,35,29,0,1.373221,2,31
48872,Manhattan,40.76236,-73.99255,Entire home/apt,260,3,0,1.373221,1,9
48873,Brooklyn,40.63116,-73.92616,Entire home/apt,170,1,0,1.373221,2,363
48874,Manhattan,40.79760,-73.93947,Private room,50,7,0,1.373221,1,22
48875,Manhattan,40.78749,-73.94749,Private room,140,1,0,1.373221,1,180
48876,Manhattan,40.80953,-73.95410,Private room,60,1,0,1.373221,1,26
48877,Brooklyn,40.70418,-73.91471,Private room,42,7,0,1.373221,1,16
48878,Queens,40.74477,-73.87727,Private room,45,1,0,1.373221,5,172
48879,Brooklyn,40.71728,-73.94394,Entire home/apt,120,20,0,1.373221,1,22
48880,Brooklyn,40.71232,-73.94220,Entire home/apt,120,1,0,1.373221,3,365
48881,Brooklyn,40.72585,-73.94001,Private room,54,6,0,1.373221,1,15
48882,Brooklyn,40.69652,-73.91079,Private room,40,20,0,1.373221,1,31
48883,Manhattan,40.79755,-73.93614,Private room,75,2,0,1.373221,2,364
48884,Brooklyn,40.71790,-73.96238,Private room,190,7,0,1.373221,1,341
48885,Manhattan,40.79633,-73.93605,Private room,75,2,0,1.373221,2,353
48886,Manhattan,40.75561,-73.96723,Entire home/apt,200,6,0,1.373221,1,176
48887,Brooklyn,40.71232,-73.94220,Entire home/apt,170,1,0,1.373221,3,365
48888,Manhattan,40.76392,-73.99183,Private room,125,4,0,1.373221,1,31
48889,Queens,40.69137,-73.80844,Private room,65,1,0,1.373221,2,163
48890,Brooklyn,40.67853,-73.94995,Private room,70,2,0,1.373221,2,9
48891,Brooklyn,40.70184,-73.93317,Private room,40,4,0,1.373221,2,36
48892,Manhattan,40.81475,-73.94867,Entire home/apt,115,10,0,1.373221,1,27
48893,Manhattan,40.75751,-73.99112,Shared room,55,1,0,1.373221,6,2
48894,Manhattan,40.76404,-73.98933,Private room,90,7,0,1.373221,1,23

In [26]:
df = pd.get_dummies(df, columns=['neighbourhood_group'])

In [27]:
df = pd.get_dummies(df, columns=['room_type'])

In [28]:
df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,...,calculated_host_listings_count,availability_365,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,149,1,9,...,6,365,0,1,0,0,0,0,1,0
1,2595,Skylit Midtown Castle,2845,Jennifer,Midtown,40.75362,-73.98377,225,1,45,...,2,355,0,0,1,0,0,1,0,0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Harlem,40.80902,-73.94190,150,3,0,...,1,365,0,0,1,0,0,0,1,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Clinton Hill,40.68514,-73.95976,89,1,270,...,1,194,0,1,0,0,0,1,0,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,East Harlem,40.79851,-73.94399,80,10,9,...,1,0,0,0,1,0,0,1,0,0

In [32]:
finalDf = df[['price','latitude','longitude', 'minimum_nights', 'number_of_reviews','calculated_host_listings_count','availability_365','neighbourhood_group_Bronx','neighbourhood_group_Brooklyn','neighbourhood_group_Manhattan','neighbourhood_group_Queens','neighbourhood_group_Staten Island','room_type_Entire home/apt','room_type_Private room','room_type_Shared room']]
finalDf.head()

,price,latitude,longitude,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,149,40.64749,-73.97237,1,9,6,365,0,1,0,0,0,0,1,0
1,225,40.75362,-73.98377,1,45,2,355,0,0,1,0,0,1,0,0
2,150,40.80902,-73.94190,3,0,1,365,0,0,1,0,0,0,1,0
3,89,40.68514,-73.95976,1,270,1,194,0,1,0,0,0,1,0,0
4,80,40.79851,-73.94399,10,9,1,0,0,0,1,0,0,1,0,0

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib

In [34]:
X = finalDf['availability_365']
y = finalDf['price']

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 10)

In [36]:
npX_train = np.array(X_train)
npX_train = npX_train.reshape(-1,1)

npX_test = np.array(X_test)
npX_test = npX_test.reshape(-1,1)

scaler = StandardScaler()

npX_train = scaler.fit_transform(npX_train)
npX_test = scaler.transform(npX_test)

C:\Users\Omneya Essam\Anaconda3\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [39]:
classifier = RandomForestClassifier(n_estimators = 1000, criterion='entropy', random_state=0)
classifier.fit(npX_train, y_train)

MemoryError:

In [ ]:
y_pred = classifier.predict(npX_test)

In [ ]:
cnf_matrix = pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'])
cnf_matrix

In [ ]:
from sklearn.metrics import confusion_matrix
a = confusion_matrix(y_test,y_pred)
a

In [ ]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)
acc